.msc{
    border-radius: 20px;
    padding: 2vw;
    background-color: #9bb1ff;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
.cbmsh{
    background-color: #788bff;
    padding: 15px;
    border-radius: 30px;
    color: white;
    margin-bottom: 2vw;
}